# 1. 함수의 이해

In [1]:
#정수형 변수의 데이터 타입 확인
age = 20
typeofage = type(age)
print(typeofage)

<class 'int'>

In [3]:
#문자열 변수의 데이터 타입 확인 
message = "Hello Python"
typeofMessage = type(message)
print(typeofMessage)

<class 'str'>

In [4]:
#실수형 변수의 데이터 타입 확인 
pi = 3.14
typeofPi = type(pi)
print(typeofPi)

<class 'float'>

In [5]:
#논리형 변수의 데이터 타입 확인 
ok = True
typeofok = type(ok)
print(typeofok)

<class 'bool'>

In [9]:
# 출력하고자 하는 모든 형태의 값을 파라미터로 전달한다. 
# -> 문자열 이외의 다른 데이터 타입의 변수도 사용 가능함 

a = 100
b = 3.14
c = True 
print( "Life", "is", "short", a, b, c)

Life is short 100 3.14 True

In [14]:
#문자열 입력받기 
mag1 = input("메시지를 입력하세요.")
print(mag1)

#입력 받은 내용의 데이터 타입 확인 --> 문자열(str)
t = type(mag1)
print(t)

dkdkdkdkdk
<class 'str'>

In [15]:
# 문자열 입력받기
msg1 = input("메시지를 입력하세요.")
print(msg1)

gpgpgpgp

In [22]:
# 입력받은 값을 정수 타입으로 변환 

msg2 = input("정수를 입력하세요")
num = int(msg2)
print(num)

# 변환 결과의 데이터 타입 확인 --> 정수 (int)
num_type = type(num)
print(num_type)

0
<class 'int'>

In [32]:
# 입력받은 값을 실수 타입으로 변환 
msg3 = input("실수를 입력하세요.")
fnum = float(msg3)
print(fnum)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
fnum_type = type(fnum)
print(fnum_type)

234.324
<class 'float'>

In [34]:
# 정수를 실수로 변환 --> 정수 뒤에 ".0"이 추가됨
num1 = 100
num2 = float(num1)
print(num2)

# 변환 결과의 데이터 타입 확인 --> 실수(float)
t1 = type(num2)
print(t1)

100.0
<class 'float'>

In [36]:
# 실수를 정수로 변환 --> 소수점 버림 
num3 = 123.78
num4 = int(num3)
print(num4)

# 변환 결과의 데이터 타입 확인 --> 정수(int)
t2 = type(num4)
print(t2)

123
<class 'int'>

In [37]:
#모든 데이터 타입을 문자열로 변환하는 str() 함수

num1 = 100
s1 = str(num1)
print(type(num1), type(s1))

<class 'int'> <class 'str'>

In [38]:
num2 = 3.14
s2 = str(num2)
print(type(num2), type(s2))

<class 'float'> <class 'str'>

In [42]:
#제곱근 구하기 -> '2**8' 연산과 동일한 결과 
a = pow(2, 6)
print(a)

a = pow(2, 7)
print(a)

a = pow(2, 8)
print(a)

64
128
256

In [43]:
# 절대값 구하기 

a = abs(100)
print(a)

b = abs(-100)
print(b)

c = abs(-12.345)
print(c)

100
100
12.345

In [44]:
# 소수점 반올림 후 정수만 출력 
n = round(123.78)
print(n)

124

In [54]:
# 소수점 첫째 자리까지만 남기고 반올림 

n2 = round(123.76,0)
print(n2, '              ',                 n2)


n2=round(3278938.27428932498, 3)
print(n2, '              ',                 n2)

124.0                124.0
3278938.274                3278938.274

## 2.함수 정의하기

In [159]:
def say_hello():
    print("Heollo Python")
    print("안녕 파이썬")

say_hello()
say_hello()

Heollo Python
안녕 파이썬
Heollo Python
안녕 파이썬

In [160]:
say_hello()
say_hello()

Heollo Python
안녕 파이썬
Heollo Python
안녕 파이썬

In [58]:
def f(x):
    y = x+1
    print(y)

f(2)

f(3)

3
4

In [62]:
def foo(count):
    x = count * 10
    print(x)

foo(2)

20

In [161]:
#foo()  #TypeError: foo() missing 1 required positional argument: 'count'

### 파라미터

In [166]:
def hello(x,y):
    z = x + y
    print(z)

In [167]:
hello(2,1)

3

In [168]:
hello(5,3)

8

In [66]:
# 기본 값을 갖는 파라미터 

def sum1(x, y, z=0):
    answer = x + y + z
    print(answer)

In [67]:
#모든 파라미터 값을 전달하며 함수 호출 
sum1(1,2,3)

6

In [164]:
# 초기값이 설정된 파라미터는 호출시에 생략 가능함 
# -> 생략된 파라미터는 초기값으로 설정된다. 

sum1(10,20)

#print(answer) ---------------------------------------------------------------------------
#NameError                                 Traceback (most recent call last)
#Cell In[69], line 6
#      1 # 초기값이 설정된 파라미터는 호출시에 생략 가능함 
#      2 # -> 생략된 파라미터는 초기값으로 설정된다. 
#      4 sum1(10,20)
#----> 6 print(answer)

#NameError: name 'answer' is not defined

30

In [163]:
def sum2(a, b, c=0, d=0):
    answer = a+b+c+d
    print(answer)

In [71]:
# 파라미터의 이름을 지정한 함수 호출 
# -> 파라미터 전달 순서를 무시할 수 있다. 

sum2(d=3, c=4, b=2, a=1)

10

In [72]:
# 함수에 정의된 기본값 활용 

sum2(1, b=2)

3

### 리턴값의 이해

In [172]:
# 값을 리턴하는 함수 
def plus(x, y):
    z = x + y
    return z

print(z) #자신이 호출된 위치로 값을 되돌려 준다.

63

In [173]:
a = plus(10,20) #리턴 값을 다른 변수에 할당하기 
print(a)

30

In [174]:
print(plus(100, 200)) #리턴값을 갖는 함수는 그 결과를 직접 출력할 수 있다.

300

In [175]:
b = plus(5,7) + 100 #리턴값을 갖는 함수는 그 결과를 다른 연산에 활용할 수 있다. 
print(b)

112

### 2:30 6층 52기 3개조 발표 최대 2시간 
### 25분 발표, 질의응답 시간 있음 
### 음료 ok, 사진 메모 가능

In [81]:
# return 을 함수 중간에 만나는 경우 
# 그 즉시 수행을 종료한다. 
# return 이후의 코드는 실행되지 않는다. 

def foo(x, y):
    return 0
    z = x + y
    return z

In [80]:
# z 값을 계산하기 전에 0을 리턴하므로 결과값이 0이 된다. 

print( foo(100, 200))

0

In [82]:
# 함수 밖의 변수는 함수 내부에서 식별 가능
# 함수 내부의 변수는 함수 밖에서 식별 불가 

a = 100 
b = 200 

def foo(): 
    k = a + b
    print(k)

In [83]:
foo ()

300

In [177]:
# print(k)

###---------------------------------------------------------------------------
#NameError                                 Traceback (most recent call last)
#Cell In[84], line 1
#----> 1 print(k)

#NameError: name 'k' is not defined ####

## 4. 조건문 
### 조건문(if문)

In [86]:
# 조건문 이해하기 

print("시험시작")

score = int( input("점수를 입력하세요."))

if score >= 60:
    print("합격입니다.")

print("시험 끝")

시험시작
합격입니다.
시험 끝

In [88]:
# 조건식에 대한 다양한 유형 
# 숫자형 변수에 대한 조건 처리 

# money = 10000 
money = 0 

if money:
    print("택시를 타고")

print("집에 가자")

집에 가자

In [97]:
# 문자열 변수에 대한 조건 처리 

name = "Python"
#name =""

if name :
    print(name)

print("프로그래밍")

name

Python
프로그래밍

'Python'

In [104]:
# 비교식을 사용한 if 문

myage = int(input('나이를 입력하세요.'))

if myage == 19:
    print("19살 입니다.")

if myage != 20:
    print("20살이 아닙니다.")

if myage > 19:
    print("성인입니다.")

if myage <= 19:
    print("청소년 입니다.")

19살 입니다.
20살이 아닙니다.
청소년 입니다.

In [107]:
# 논리식을 사용한 if 문


point = int(input("점수를 입력하세요"))

#AND --> 전체가 참이어야 결과가 참 

if point > 70 and point <= 80:
    print("C학점 입니당당다다다다다다다다")

# OR --> 하나라도 참이면 전체가 참 

if point <= 70 or point > 80:
    print("C학점이 아닙니다.")

C학점 입니당당다다다다다다다다

In [109]:
# 논리값에 대한 조건문 

#isKorean = True
isKorean = False 

if isKorean == True:
    print("한국 사람 입니다...(1)")

if isKorean == False:
    print("한국 사람이 아닙니다...(2)")

if isKorean != True:
    print("한국 사람이 아닙니다...(3)")

if isKorean != False:
    print("한국 사람 입니다...(4)")

if isKorean:
    print("한국 사람 입니다...(5)")

if not isKorean:
    print("한국 사람이 아닙니다...(6)")

한국 사람이 아닙니다...(2)
한국 사람이 아닙니다...(3)
한국 사람이 아닙니다...(6)

In [114]:
# else문 활용하기 

# 입력값에 따른 if ~ else 분기 파악하기 

print("시험시작")

score = int(input("점수를 입력하세요"))

if score >= 60:
    print("합격 입니다.")
else: 
    print("불합격 입니다.")

print("시험 끝")

시험시작
합격 입니다.
시험 끝

In [123]:
# boolean 형 값에 대한 else문 처리 

answer = input("한국인 입니까? (Y/N)") #입력 예시: Y 

#소문자 y 도 false 

if answer == "Y":
    isKorean = True
else: 
    isKorean = False

#논리값을 조건으로 사용할 경우 
# "만약 이 변수가 참이라면?"의 의미 

if isKorean:
    print("한국 사람 입니다...(1)")
else:
    print("한국 사람이 아닙니다...(2)")

# 논리값의 부정형을 조건으로 사용할 경우 
# "만약 이 변수가 거짓말이라면?"의 의미

if not isKorean:
    print("한국 사람이 아닙니다...(3)")
else:
    print("한국 사람 입니다...(4)")

한국 사람이 아닙니다...(2)
한국 사람이 아닙니다...(3)

In [132]:
# elif 를 활용한 다양한 경우의 수 나열 

print("시험시작")

point = int(input("점수를 입력하세요"))

if point > 90:
    print("A학점")
elif point > 80:
    print("B학점")
elif point > 70:
    print("C학점")
elif point > 60:
    print("D학점")
else:
    print("F학점")

print("시험 끝")

시험시작
B학점
시험 끝

논리값  boolean     true                    false
숫자형              0이 아닌 모든 값            0
비교식              식의 결과가 True         식의 결과가 False
논리식              식의 결과가 True         식의 결과가 False
문자열              빈 문자열이 아닌 경우     빈 문자열인 경우

In [139]:
apple = input("사과")
print(type(apple))

<class 'str'>

# 5. 반복문

In [178]:


x = 1
while x <= 10:
    print("x=", x)
    x += 1

print("x의 최종값=", x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값= 11

In [186]:
# while 문의 기본 구조 

# 1부터 10까지 1씩 증가하는 조건에서의 반복문 

#처음에 값을 셋팅을 해야겠지? 
x = 100
while x <= 500:
    print( "x =", x)

    x += 100
    
print("x의 최종값으으으은 =", x)

x = 100
x = 200
x = 300
x = 400
x = 500
x의 최종값으으으은 = 600

In [187]:
x = 100
while x <= 500:
    print( "x =", x)

    x += 100
    
    print("x의 최종값으으으은 =", x)

x = 100
x의 최종값으으으은 = 200
x = 200
x의 최종값으으으은 = 300
x = 300
x의 최종값으으으은 = 400
x = 400
x의 최종값으으으은 = 500
x = 500
x의 최종값으으으은 = 600

In [143]:
x = int(input("숫자를 입력하세요."))

# 구구단 출력하기 
y = 1                #초기식 
while y < 10:       #조건식 -> 10보다 작다 이므로 10은 포함되지 않음 
    z = x * y          # 반복이 진행되는 동안 수행할 명령 
    print(x, "x", y, "=", z)
    y += 1          # 증감식 -> y가 1씩 증가함

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

In [ ]:
# 1~10 까지의 총 합을 구하기 

x = 1                       #초기식 
sum = 0                     #총 합을 누적해서 저장할 변수 
while x <= 10:              #조건식 -> x가 10보다 작거나 같은 동안 반복 수행 
    sum += x
    print("x=", x, "-> sum =", sum)
    x += 1                  #증감식 -> 조건에 사용되는 값을 변경 


# 왜 x +=1 을 프린트 밑에 적는거야?

x= 1 -> sum = 1
x= 2 -> sum = 3
x= 3 -> sum = 6
x= 4 -> sum = 10
x= 5 -> sum = 15
x= 6 -> sum = 21
x= 7 -> sum = 28
x= 8 -> sum = 36
x= 9 -> sum = 45
x= 10 -> sum = 55

In [146]:
# 값의 변화 단계 조절하기 

# 0부터 50전 (=49)까지 10씩 증가 

a = 0 
while a < 50:
    print(a)
    a += 10

0
10
20
30
40

In [148]:
# 10부터 0전(=1)까지 2씩 감소 

b = 10 
while b > 0:
    print( b )
    b -= 2

10
8
6
4
2

### for문 기본 구조

In [149]:
# x가 1부터 11전까지 1씩 증가하면서 반복 수행 

for x in range(1,11):
    # 반복이 진행되는 동안 수행할 명령 
    print("x=", x)

print("x의 최종값=", x)

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
x의 최종값= 10

In [150]:
# 구구단 출력하기 

x = int(input("숫자를 입력하세요. 정수로 !!!!!!!!!!!!!"))

# -> 1부터 10전까지 1씩 증가하는 값을 y에 설정 
for y in range(1,10):
    #반복이 진행되는 동안 수행할 명령
    z = x * y
    print( x, "x", y, "=", z)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [152]:
# 합계 구하기 

# 1~10까지의 총 합을 구하기 
sum = 0 #총 합을 누적해서 저장할 변수  

for x in range(1,11): #x가 1부터 11전까지 1씩 증가하면서 반복수행 
    #sum이 x만큼 스스로 증가 
    #-> x가 1~10까지 변화하므로 sum은 1부터 10까지 순차적으로 증가 
    sum += x
    print("x=", x, "-> sum =", sum)

x= 1 -> sum = 1
x= 2 -> sum = 3
x= 3 -> sum = 6
x= 4 -> sum = 10
x= 5 -> sum = 15
x= 6 -> sum = 21
x= 7 -> sum = 28
x= 8 -> sum = 36
x= 9 -> sum = 45
x= 10 -> sum = 55

In [153]:
# 값의 변화 단계 조절하기 

# range() 함수의 세번째 파라미터로 변화량을 설정할 수 있다. 

#0부터 50전(=49)까지 10씩 중가 

for a in range(0, 50, 10):
    print( a )

0
10
20
30
40

In [155]:
# 10부터 0전(=1)까지 2씩 감소 

for b in range(10, 0, -2):
    print( b )

10
8
6
4
2